.formTitle {
	width: 100%;
	padding: 10px 0px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.userForm {
	padding: 20px 10px;
	border: 1px solid #5d7dbe;
	border-radius: 10px;
}

.userFormTable {
	border-spacing: 0;
}

.userFormHeader th {
	width: 100%;
	text-align: center;
}

.userFormTitle {
	color: #eaeaea;
}

.userFormFooter td:first-child {
	text-align: left;
}

.userFormFooter td:last-child {
	text-align: right;
}

.responseWrapper {
	padding: 10px;
	border-radius: 10px;
}

.responseContainer {
	padding: 10px;
	border-radius: 10px;
}
